<div class="bottom-row">
    <div class="bottom-column">
        <div class="bottom-title">Contactos</div>
        <div class="display-flex">
            <span class="material-symbols-outlined labelColorBlack">mail</span>
            <div class="bottom-text">geral@douroazul.pt</div>
        </div>
        <div class="display-flex margin-top-5">
            <span class="material-symbols-outlined labelColorBlack">call</span>
            <div class="bottom-text">22 340 2500</div>
        </div>
        <div class="display-flex margin-top-5">
            <span class="material-symbols-outlined labelColorBlack">location_on</span>
            <div class="bottom-text">Rua de Miragaia, 103, 4050-387 Porto - Portugal</div>
        </div>
    </div>
    <div class="bottom-column">
        <div class="bottom-title">Horários</div>
        <div class="display-flex margin-top-5">
            <span class="material-symbols-outlined labelColorBlack">schedule</span>
            <div class="bottom-text">
                O Horário do escritório é de segunda a sexta-feira: 09h00 - 18h00
                <br><br>
                Estamos disponiveis para o atender por telefone todos os dias das 09:00 às 21:00
            </div>
        </div>
    </div>
    <div class="bottom-column">
        <div class="bottom-title">Questões?</div>
        <div class="display-flex margin-top-5">
            <span class="material-symbols-outlined labelColorBlack">subject</span>
            <div class="bottom-text">Estamos disponiveis para o atender por telefone todos os dias das 09:00 às 21:00
            </div>
        </div>
    </div>
</div>