<div class="logo-image logo cursor-pointer" onclick="window.location.href='index.html';"></div>
<div class="flex-spacer"></div>

<a href="https://mysticinvest.com/" target="_blank">
    <div class="header-container">
        <div class="header-text">Institucional</div>
        <div class="header-line"></div>
    </div>
</a>
<div class="header-container">
    <div class="header-text" onclick="window.location.href='contact.html';">Contacto</div>
    <div class="header-line"></div>
</div>

<a href="https://www.facebook.com/DouroAzul" target="_blank" title="facebook">
    <div class="icon-fb header-container-icon margin-right-10"></div>
</a>
<a href="https://www.instagram.com/douroazul/" target="_blank" title="instagram">
    <div class="icon-insta header-container-icon"></div>
</a>