:root {
    --white: #fff;
    --oxfordBlue: #0C233F;
    --gunMetal: #0C2F3F;
    --camel: #af986e;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: grid;
    height: 100%;
    background-color: #F5F5F5;
    grid-template-columns: auto 85% auto;
    grid-template-rows: 5px 60px 5px auto;
}

::-webkit-scrollbar {
    width: 0px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none
}

.container-homepage {
    position: relative;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;

    overflow: auto;
    scroll-behavior: smooth;
}

.top-containter {
    height: 100%;
    width: 100%;

    position: relative;
    display: grid;

    grid-template-columns: auto 85% auto;
}

.header {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 180px;
}

.flex-spacer {
    flex-grow: 1;
}

.header-container {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    margin-right: 40px;
}

.header-container:hover .header-text {
    font-weight: 400;
    color: var(--oxfordBlue);
}

.header-container:hover .header-line {
    width: 100%;
}

.header-text {
    font-size: 20px;
    font-weight: 200;
    transition: all 0.3s;
    user-select: none;
    color: var(--gunMetal);
}

.header-line {
    background-color: var(--oxfordBlue);
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.3s;
}

.top-containter {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.top-containter-background {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background: rgba(0, 0, 0, 0.35);
}

.top-containter-info {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    z-index: 500;
    position: relative;

    user-select: none;
}

.top-container-icon {
    font-size: 48px;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
}

.top-containter-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.top-containter-info-text {
    color: #f5f5f5;
    text-align: center;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.presentation-section {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: auto 85% auto;
}

.presentation-container {
    grid-column-start: 2;
    grid-column-end: 2;
}

.contacts-container {
    background-color: var(--camel);
    position: absolute;

    z-index: 500;

    top: 0;
    right: 0;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 16px;

    user-select: none;
}

.margin-top-5 {
    margin-top: 5px;
}

.display-flex {
    display: flex;
}

.contact-text {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;

    color: var(--white);
}

.colorWhite {
    color: #fff;
}

.text-align-center {
    text-align: center;
}

.header-container-icon {
    min-width: 28px;
    min-height: 28px;
    background-repeat: no-repeat;
    background-size: 28px 28px;

    transition: all 0.2s;

    cursor: pointer;
}

.dashed-line {
    height: 20px;
    width: 100%;
    border-top: 1px solid var(--oxfordBlue);
    margin-top: 20px;
}

.destinations-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    margin-top: 10px;
}

.item-card {
    border: 1px solid var(--camel);
    border-radius: 10px;
}

.border-top-10 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}